.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem 0px;
    gap: 1.9rem;
    background: #0F202B;
    max-width: 85.4rem;

}

.search-bar{
    width: 26rem;
    height: 40px;
    left: 0px;
    top: -0.5px;
    font-size: 1.1rem;
    font-family: monospace;

    background: #FFFFFF;
    border-radius: 8px;
}


.search-bar::placeholder{
    position: absolute;
    height: 19px;
    left: 20px;
    top: 12px;
    font-family: monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 120%;
    color: #ADA5A5;

}

.nav2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 50px;
    
    height: 50px;
    
    background: #06131C;
    color: white;
    font-family: 'arial' ;
    max-width: 85.4rem;
}

.about {
    position: relative;
    display: inline-block;
    margin-right: 2rem;
}

.about-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    height: 17rem;
    width: 15rem;
    border-radius: 0.3rem;
    margin-left: -1rem;
}

.about:hover .about-content {
    display: block;
}
.about-content a{
    margin-left: 0.2rem;
    padding: 1rem;
    color: black;
    /* margin-top: 0.9rem; */
    font-size: 1rem;
    font-weight: bolder;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    font-weight: 900;
}

a:hover{
    text-decoration: none;
}



.main-search:hover {
    animation: bounce 0.5s;
  }

.main-tline:hover {
    animation: bounce 0.5s;
}
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }